<app-debt-router></app-debt-router>

<div class="container p-5">

  <mat-form-field>
    <mat-label>Filtro</mat-label>
    <input matInput (keyup)="applyFilter($event)" #input>
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="debtor_name">
      <th mat-header-cell *matHeaderCellDef>Credor</th>
      <td mat-cell *matCellDef="let element"> {{element.debtor_name}} </td>
    </ng-container>

    <ng-container matColumnDef="value">
      <th mat-header-cell *matHeaderCellDef>Valor total</th>
      <td mat-cell *matCellDef="let element"> {{element.value | currency}} </td>
    </ng-container>

    <ng-container matColumnDef="value_pending">
      <th mat-header-cell *matHeaderCellDef>Valor faltante</th>
      <td mat-cell *matCellDef="let element"> {{element.value_pending | currency}} </td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef>Tipo</th>
      <td mat-cell *matCellDef="let element"> {{element.type}} </td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef>Data da dívida</th>
      <td mat-cell *matCellDef="let element"> {{element.date | date:'dd/MM/yyyy'}} </td>
    </ng-container>

    <ng-container matColumnDef="date_expiration">
      <th mat-header-cell *matHeaderCellDef>Data de validade</th>
      <td mat-cell *matCellDef="let element"> {{element.date_expiration | date:'dd/MM/yyyy'}} </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let element"> {{element.status}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Ação</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="accent" (click)="editItem(element)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="delete(element)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="2"> Não há dívidas cadastradas. </td>
    </tr>
  </table>
</div>
