@import '../../../styles'

.container
  width: 100vw
  height: 100vh

.create-account
  color: $text-color
.create-account:hover
  color: blue

.input-group-text
  background-color: white

.btn
  background-color: $primary-color
  border: none
.btn:hover
  background-color: $secondary-color
