<div class="container d-flex justify-content-center align-items-center">
  <mat-card class="rounded w-75">
    <div class="row justify-content-center align-items-center gap-5">
      <div class="col-md-5">
        <p class="display-6 fw-bold mb-5 mt-5 text-center">Criar conta</p>

        <div>
          <form
            #loginForm="ngForm"
            (ngSubmit)="onRegister(name.value, email.value, password.value, parseDate(birthdate.value))"
          >
            <div class="mb-4">
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"
                  ><fa-icon [icon]="['fas', 'user']"></fa-icon
                ></span>
                <input
                  type="text"
                  class="form-control"
                  #name
                  placeholder="Seu nome"
                  required
                />
              </div>
            </div>
            <div class="mb-4">
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"
                  ><fa-icon [icon]="['fas', 'envelope']"></fa-icon
                ></span>
                <input
                  type="email"
                  class="form-control"
                  #email
                  placeholder="Seu email"
                  required
                />
              </div>
            </div>
            <div class="mb-4">
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"
                  ><fa-icon [icon]="['fas', 'lock']"></fa-icon
                ></span>
                <input
                  type="password"
                  class="form-control"
                  #password
                  placeholder="Sua senha"
                  required
                />
              </div>
            </div>
            <div class="mb-4">
              <div class="input-group mb-3">
                <span class="input-group-text confirm-pass" id="basic-addon1"
                  ><fa-icon [icon]="['fas', 'lock']"></fa-icon
                ></span>
                <input
                  type="password"
                  class="form-control"
                  #confirmPassword
                  placeholder="Confirme sua senha"
                  required
                />
              </div>
            </div>
            <div class="mb-4">
              <div class="input-group mb-3">

                <input type="date" class="form-control" #birthdate required />
              </div>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary mt-3 mb-5 w-25">
                Registrar
              </button>
            </div>
          </form>
        </div>
      </div>

      <div class="col-md-5 row">
        <img
          mat-card-image
          src="../../../assets/undraw_sign_up_n6im.svg"
          width="400px"
          height="400px"
          alt="imagem de login"
        />
        <a class="have-account text-center mb-5" [routerLink]="['/login']"
          >Já tenho uma conta</a
        >
      </div>
    </div>
  </mat-card>
</div>
