<app-income></app-income>

<mat-card class="card-form-cadastro p-5">
    <mat-card-header class="justify-content-center mb-5">
      <mat-card-title class="fs-3">Cadastro de Receitas</mat-card-title>
    </mat-card-header>
  
    <mat-card-content class="card-content-cadastro row row-cols-3">
  
      <mat-form-field>
        <mat-label>Descrição</mat-label>
        <input matInput [(ngModel)]="receitaTratamento.description" placeholder="descrição da receita" />
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>Valor</mat-label>
        <input matInput type="number" [(ngModel)]="receitaTratamento.value" placeholder="valor da receita" />
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>Data</mat-label>
        <input matInput type="date"  [(ngModel)]="receitaTratamento.date" placeholder="data da receita" />
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>Categoria</mat-label>
        <mat-select [(ngModel)]="receitaTratamento.category" placeholder="Escolha a categoria">
            <mat-option value="salario">Salário</mat-option>
            <mat-option value="aluguel">Aluguel</mat-option>
            <mat-option value="rendimento">Rendimento</mat-option>
        </mat-select>
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>Frequência</mat-label>
        <input matInput [(ngModel)]="receitaTratamento.frequency" placeholder="frequencia da receita" />
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>Informação adicional</mat-label>
        <input matInput [(ngModel)]="receitaTratamento.addInformation" placeholder="adicione algo a mais" />
      </mat-form-field>
  
    </mat-card-content>
  
    <mat-card-footer class="text-center m-3">
  
      <button
        mat-raised-button 
        color="primary"
        (click)="cadastrar()"
        class="botao"
      > 
        cadastrar 
      </button>
      
    </mat-card-footer>
  
</mat-card> 