.not-found-container
  text-align: center
  padding: 50px
  height: 1000px

.not-found-container h1
  font-size: 3rem
  color: #515151
  margin-bottom: 20px

.not-found-container p
  font-size: 1.5rem
  color: #777

