<section class="slogan-section container p-5 mt-5 mb-5">
  <div class="row align-items-center justify-content-around">
    <div class="col-md-5">
      <p class="slogan mb-5 display-4">Bem-vindo ao <span class="fw-bold">Amantus Finance</span></p>
      <p class="mb-5 fs-5">
        Seu parceiro confiável para o gerenciamento financeiro pessoal.
        Comece hoje a controlar suas finanças de forma eficaz.
      </p>
      <a [routerLink]="['/register']" class="btn btn-lg btn-primary px-3 shadow">Comece Agora</a>
    </div>
    <div class="col-md-5">
      <img src="../../../../assets/undraw_finance.svg" alt="Ilustração de gerenciamento financeiro"
      class="img-fluid">
    </div>
  </div>
</section>

<!-- Seção de Destaques -->
<section class="highlights-section container-fluid p-5">

  <p class="service display-6 text-center mb-5">Nossos Serviços Financeiros</p>

    <div class="row justify-content-center align-items-center mb-5">

      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title d-flex flex-column justify-content-center align-items-center gap-3 mb-4 fs-4">
              <fa-icon [icon]="['fas', 'chart-bar']"></fa-icon>
              Gerenciamento Financeiro
            </h5>
            <p class="card-text fs-6">Registre suas receitas e despesas facilmente.</p>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title d-flex flex-column justify-content-center align-items-center gap-3 mb-4 fs-4">
              <fa-icon [icon]="['fas', 'wallet']"></fa-icon>
              Criação de Orçamento
            </h5>
            <p class="card-text fs-6">Estabeleça limites de gastos com orçamentos personalizados.</p>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title d-flex flex-column justify-content-center align-items-center gap-3 mb-4 fs-4">
              <fa-icon [icon]="['fas', 'line-chart']"></fa-icon>
              Relatórios e Análises
            </h5>
            <p class="card-text fs-6">Obtenha insights sobre seus hábitos de gastos.</p>
          </div>
        </div>
      </div>

    </div>
</section>

<!-- Seção de Contato -->
<section class="contact-section container py-5 mt-5 mb-5">
  <div class="mt-5 mb-5">
    <div class="row align-items-center justify-content-around fs-6">

      <div class="col-md-5">
        <img src="../../../../assets/undraw_contact.svg" alt="Entre em Contato" class="img-fluid" width="500px">
      </div>

      <div class="col-md-5">
        <p class="mb-4 display-6">Entre em Contato</p>
        <p class="mb-5">Estamos sempre disponíveis para ajudar você. Entre em contato conosco se tiver alguma dúvida, sugestão ou precisar de suporte.</p>

        <ul class="list-unstyled">
          <li class="d-flex gap-3 mb-3">
            <fa-icon [icon]="['fas', 'envelope']"></fa-icon>
            <p>Email: contato@amantusfinance.com</p>
          </li>
          <li class="d-flex gap-3">
            <fa-icon [icon]="['fas', 'phone']"></fa-icon>
            <p>Telefone: (XX) XXXX-XXXX</p>
          </li>
        </ul>
      </div>

    </div>
  </div>
</section>

