@import '../../../../styles.sass'

.slogan-section
  background-color: $background-color

.slogan
  color: $primary-color

.btn
  background-color: $primary-color
  border: none
.btn:hover
  background-color: $secondary-color

.highlights-section
  background-color: $secondary-color

.service
  color: $background-color

.card 
  background-color: $background-color
  color: $text-color
  overflow: hidden
  height: 200px

.card-body
  color: $text-color

.card-title
  color: $primary-color

.contact-section
  background-color: $background-color
  color: $text-color