<h2 mat-dialog-title>Editar Orçamento - {{ data.budget.id }}</h2>
<div mat-dialog-content>
    <p>Editar detalhes do orçamento:</p>

    <form class="row justify-content-center">
        <mat-form-field>
            <mat-label>Descrição</mat-label>
            <input matInput [(ngModel)]="data.budget.description" placeholder="Descrição do orçamento"  name="description"/>
        </mat-form-field>

      <mat-form-field>
        <mat-label>Valor</mat-label>
        <input matInput type="number" name="value_total" [(ngModel)]="data.budget.value_total" placeholder="Valor total do orçamento" required/>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Valor</mat-label>
        <input matInput type="number" name="value_missing" [(ngModel)]="data.budget.value_missing" placeholder="Valor que falta do orçamento" required/>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Data</mat-label>
        <input matInput type="date" name="date_creation" [(ngModel)]="data.budget.date_creation" placeholder="Data de criação do orçamento" required/>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Data</mat-label>
        <input matInput type="date" name="date_expiration" [(ngModel)]="data.budget.date_expiration" placeholder="Data de validade do orçamento" required/>
      </mat-form-field>

        <mat-form-field>
            <mat-label>Tipo</mat-label>
            <mat-select [(ngModel)]="data.budget.type" placeholder="Escolha o tipo de orçamento" name="type">
                <mat-option value="Fixo">Fixo</mat-option>
                <mat-option value="Flexível">Flexível</mat-option>
            </mat-select>
        </mat-form-field>

    </form>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Save</button>
</div>
