@import '../../../../styles.sass'

.navbar
  background-color: $background-color !important

.nav-item
  padding-right: 7px

button
  color: #3C6E71

.logo
  width: 250px

#navElements
  font-family: "Rockwell Extra Bold", sans-serif

