<div class="custom-register-bg">
  <div class="container d-flex">
    <div class="container-position row justify-content-center align-items-center">
      <div class="col-md-5">
        <div class="card border border-light border-5 rounded">
            <h2 class="text-center mt-4 fw-bold">Registro</h2>
          <div class="card-body p-3">
            <form #loginForm="ngForm" (ngSubmit)="onRegister(name.value, email.value, password.value, parseDate(birthdate.value))">
              <div class="mb-3">
                <label for="name" class="form-label fw-semibold">Nome</label>
                <input type="text" class="form-control" #name placeholder="Seu nome" required>
              </div>
              <div class="mb-3">
                <label for="email" class="form-label fw-semibold">Email</label>
                <input type="email" class="form-control" #email placeholder="Seu email" required>
              </div>
              <div class="mb-3">
                <label for="password" class="form-label fw-semibold">Senha</label>
                <input type="password" class="form-control" #password placeholder="Sua senha" required>
              </div>
              <div class="mb-3">
                <label for="confirmPassword" class="form-label fw-semibold">Confirmar Senha</label>
                <input type="password" class="form-control" #confirmPassword placeholder="Confirme sua senha" required>
              </div>
              <div class="mb-3">
                <label for="birthdate" class="form-label fw-semibold">Data de Nascimento</label>
                <input type="date" class="form-control" #birthdate required>
              </div>
              <div class="text-center">
                  <button type="submit" class="btn btn-primary mt-3">Registrar</button>
              </div>
            </form>
            <p class="text-danger" *ngIf="error">{{ error }}</p>
          </div>
          <div class="card-footer px-4">
            <p class="small my-2"><a [routerLink]="['/login']">Entrar</a></p>
          </div>
        </div>
      </div>
    </div>
</div>
