<nav *ngIf="isNavbarVisible" class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/']" [ngClass]="{'disabled-link': varUserIsLoggedIn}"><img src="../../../assets/logo_amantus.png"
                                                                                                       alt="Logo do Amantus Finance"
                                                                                                       class="logo"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navElements">
      <ul class="navbar-nav ms-auto gap-4">
        <li class="nav-item" *ngIf="!varUserIsLoggedIn">
          <button class="p-3" mat-button [routerLink]="['/login']">
            <mat-icon>person</mat-icon>
            Login
          </button>
        </li>
        <li class="nav-item" *ngIf="!varUserIsLoggedIn">
          <button class="p-3" mat-button color="primary" [routerLink]="['/register']">
            <mat-icon>person_add</mat-icon>
            Cadastrar
          </button>
        </li>
        <!-- Exibe apenas quando o usuário estiver logado -->
        <li class="nav-item" *ngIf="varUserIsLoggedIn">
          <button class="p-3" mat-button color="primary" [routerLink]="['/dashboard']">
            Dashboard
          </button>
        </li>
        <li class="nav-item" *ngIf="varUserIsLoggedIn">
          <button class="p-3" mat-button color="primary" [routerLink]="['/create-income']">
            Receitas
          </button>
        </li>
        <li class="nav-item" *ngIf="varUserIsLoggedIn">
          <button class="p-3" mat-button color="primary" [routerLink]="['/create-expense']">
            Despesas
          </button>
        </li>
        <li class="nav-item" *ngIf="varUserIsLoggedIn">
          <button class="p-3" mat-button color="primary" [routerLink]="['/create-budget']">
            Orçamentos
          </button>
        </li>
        <li class="nav-item" *ngIf="varUserIsLoggedIn">
          <button class="p-3" mat-button color="primary" [matMenuTriggerFor]="menu">
            <mat-icon class="text-black fs-5">person</mat-icon>
          </button>
          <mat-menu #menu="matMenu" class="text-black">
            <button class="p-3" mat-menu-item [routerLink]="['/configs']">
              <mat-icon>settings</mat-icon>
              Configurações
            </button>
            <button mat-menu-item (click)="onLogout()">
              <mat-icon>logout</mat-icon>
              Sair
            </button>
          </mat-menu>
        </li>
      </ul>
    </div>
  </div>
</nav>
