<app-budget-router></app-budget-router>
<div class="container p-5">

    <mat-form-field>
        <mat-label>Filtro</mat-label>
        <input matInput (keyup)="applyFilter($event)" #input>
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>ID</th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> Descrição </th>
            <td mat-cell *matCellDef="let element"> {{element.description}} </td>
        </ng-container>

        <ng-container matColumnDef="value_total">
            <th mat-header-cell *matHeaderCellDef> Valor total </th>
            <td mat-cell *matCellDef="let element"> {{element.value_total}} </td>
        </ng-container>

        <ng-container matColumnDef="value_missing">
            <th mat-header-cell *matHeaderCellDef> Valor que falta </th>
            <td mat-cell *matCellDef="let element"> {{element.value_missing}} </td>
        </ng-container>

      <ng-container matColumnDef="date_creation">
        <th mat-header-cell *matHeaderCellDef> Data de criação </th>
        <td mat-cell *matCellDef="let element"> {{element.date_creation}} </td>
      </ng-container>

      <ng-container matColumnDef="date_expiration">
        <th mat-header-cell *matHeaderCellDef> Data de validade </th>
        <td mat-cell *matCellDef="let element"> {{element.date_expiration}} </td>
      </ng-container>

        <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef> Tipo </th>
            <td mat-cell *matCellDef="let element"> {{element.type}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Ação </th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button color="accent" (click)="editItem(element)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="delete(element)">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="2"> Não há orçamentos. </td>
        </tr>
    </table>
</div>
